/**
gris oscuro = #1d252c
gris claro = #626262
background gris = #1b2127
celeste = #026fff
*/

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal; /* normal = 400*/
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 0;
  /* text-transform: uppercase;
  text-decoration: dashed; */
}

h1 strong {
  color: #026fff;
}

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.header {
  height: 70px;
  background-color: #1d252c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header figure {
  margin-left: 10px; 
}

.header strong.me {
  font-family: 'Fjalla One', sans-serif;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
}

.menu {
  height: inherit;
}


.header ol {
  display: flex;
  height: inherit;
  align-items: center;
}

.header ol li {
  height: inherit;
}

/*Selector descendente*/
.header a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
  border-top: 3px solid transparent;
}

.header a:hover {
  border-top: 3px solid white;
}

.hero {
  height: 300px;
  /* background-image: url('http://lorempixel.com/1000/400/');
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right; */
  background-color: #1d252c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-image {
  object-fit: cover;
}


.portfolio {
  background: #fafafa;
  padding: 20px;
}

.project {
  /* border-top: 10px solid red;
  border-right: 10px solid green;
  border-bottom: 10px solid pink;
  border-left: 10px solid orange; */
  /* color: blue; */
  /* border-top-color: red;
  border-top-width: 15px;
  border-top-style: solid; */
  border: 1px solid gray;
  border-radius: 10px;
  /* margin: 10px; */
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}

.project-detail {
  margin-right: 20px;
}

.project-description {
  font-size: 20px;
}

.project strong {
  font-family: 'Fjalla One', sans-serif;
}

.project-details {
  width: 500px;
}

.project-imageContainer {
  width: 500px;
}

.flexbox {
  display: flex;
  /* flex-wrap: nowrap; Se mantiene fijo en la línea, no cae*/
  flex-wrap: wrap; /* Se ajusta al ancho de la pantalla, los elementos caen */
  /* flex-direction: column; */

  justify-content: space-evenly; /*Alineamos de manera horizontal*/
  height: 200px;
  align-items: center; /*Centramos de manera vertical*/
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  flex-shrink: 0; /* Incica si se puede encoger 0 => No se encoge, 1 => Si es flexible */
}

.footer {
  background-color: #1b2127;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer img {
  vertical-align: middle;
}

.footer strong {
  border: 1px solid white;
  padding: 2px 5px;
  margin-left: 5px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.footer a {
  color: white;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2.event-title {
  margin-left: 20px;
}

.event {
  margin: 10px;
  width: 480px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f4fbff;;
}

.event figure {
  width: inherit;
}

.event img {
  width: inherit;
  height: 200px;
  object-fit: cover;
}

.event-detail {
  margin: 20px 40px;
  background-color: white;
  margin-top: -40px;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-url {
  color: #026fff;
  border: 1px solid ;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.contact {
  background-color: #026fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact h3 {
  font-size: 1.5em;
  font-weight: bold;
  font-style: oblique;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  /* border: 1px solid white; */
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.social-link.twitter{
  background-image: url('./assets/twitter.svg');
}

.social-link.facebook{
  background-image: url('./assets/facebook.svg');
}

.social-link.github{
  background-image: url('./assets/github.svg');
}

.social-link.instagram{
  background-image: url('./assets/instagram.svg');
}

/*
Estos estilo son importantes a tenerlos en cuenta
*/
.form-email input {
  border-color: #014eb3;
  border-radius: 5px;
  border-style: solid;
  padding: 5px 25px;
  background-image: url("./assets/envelope.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  display: inline-block;
  margin-left: 5px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid white;
  width: 100px;
  border-radius: 5px;
}

.form-email button:hover {
  background-color: white;
  color: #026fff;
}

.form-email h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  /* border: 1px solid red; */
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;;
  flex-wrap: inherit;
}

/**
Si haces Desktop First, empezar con el media query más grande

Cada media query se le denomina break points
*/

@media screen and (max-width: 1024px){
  
}

@media screen and (max-width: 768px){
  body {
    border: 10px solid green;
  }
}

@media screen and (max-width: 480px){
  
}

@media screen and (max-width: 320px){
  
}